.pos .logo_shop_header {
    margin: 4px;
    background: white;
    height: 40px;
    width: 40px;
    padding: 0px 2px;
}

.pos .left_button {
    display: inline-block;
    width: 30%;
    top: 10px;
    background: #595959;
    height: 90px;
    border-radius: 10px;
    line-height: 20px;
    margin: 3px;
    cursor: pointer;
}
.pos .left_button:hover {
    -webkit-box-shadow: 0 10px 6px -6px #595959;
    -moz-box-shadow: 0 10px 6px -6px #595959;
    box-shadow: 0 10px 6px -6px #595959;
}
.pos .button-icon {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
.pos .pos_logo {
    max-width: 30px;
    max-height: 30px;
    border-radius: 5px;
}
.pos .button-name {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}
.pos .backup_icon {
    cursor: pointer;
}
.pos .popup .body {
    max-height: 300px;
    overflow: hidden !important;
    overflow-y: auto !important;
    padding-bottom: 50px;
}
.pos .download_backup_orders {
    margin: 20px;
    height: 25px;
    color: #3F51B5;
}
.pos .download_backup_orders:hover {
    color: red;
    font-weight: 900;
}